---
layout: archive
title: "Paper Reviews"
permalink: /paper-reviews/
author_profile: true
---

Here I have posted the reviews of some selective papers that I have read and found interesting. The reviews follow the following format:
<ol>
  <li> Summary
  <li> Major Contributions
  <li> Specific Comments- These include the things that I liked about the paper and limitations if any.
  <li> Detailed Analysis of the solution approach
  <li> Detailed Analysis of the experiments
  <li> Comments on Possible Extensions/Improvements/Next Steps
  <li> Conlusion
</ol>
Sections 6 and 7 might not always be present. 
<br>
<b>Note</b>: The reviews are not to defame any work and just for my own journaling and study. If you find anything offensive you can mail me and I will remove it. 



{% include base_path %}


{% for post in site.paper-reviews reversed%}
  {% include archive-single.html %}
{% endfor %}

