---
layout: archive
title: "Paper Reviews"
permalink: /paper-reviews/
author_profile: true
---

Here I have posted the reviews of some selective papers that I have read and found interesting. The reviews follow the following format:
1. Summary
2. Major Contributions
3. Specific Comments- These include the things that I liked about the paper and limitations if any.
4. Detailed Analysis of the solution approach
5. Detailed Analysis of the experiments
6. Comments on Possible Extensions/Improvements/Next Steps
7. Conlusion

Sections 6 and 7 might not always be present. 
**Note**: The reviews are not to defame any work and just for my own journaling and study. If you find anything offensive you can mail me and I will remove it. 



{% include base_path %}


{% for post in site.paper-reviews %}
  {% include archive-single.html %}
{% endfor %}

